
<?php
if(isset($_POST['oldpassword'])){
    require_once "../controller/Account_Control.php";
    $temp  =new  Account_Control();
    $temp -> ChangePasswordAdmin();
}
?>
<div style="padding-left: 15px; padding-top: 10px; padding-right: 15px">
    <h4>Change admin password</h4>

        <br>
        <form method="post">
            <div class="form-group">
                <label  for="exampleInputEmail1">Enter old password</label><br>
                <input type="password" class="form-control-sm" style="width: 400px; max-width: 90%" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter old password" required name="oldpassword">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Enter your new password</label><br>
                <input type="password" class="form-control-sm" style="width: 400px; max-width: 90%" id="exampleInputPassword1" placeholder="Enter your new password" name="new1password" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Confirm new password</label><br>
                <input type="password" class="form-control-sm" style="width: 400px; max-width: 90%" id="exampleInputPassword1" placeholder="Confirm new password" name="new2password" required>
            </div>
            <button type="submit" class="btn btn-info">Change</button>
        </form>
</div>