
<div class="footer">
        <div style="font-size: 14px; line-height: 30px; background: #222; padding-top: 25px">
            <div class="container">
                <div class="row">
                    
                </div>
            </div>
        </div>
       <div  style="font-size: 13px; line-height: 30px; background: #000000">
           <div class="container">
               <div class="row">
               <div class="col">
                   <span style="color: #e1e1e1">©Copyright 2021</span> BTEC
               </div>
               <div class="col" style="text-align: right">
                   <span class="list-footer">Contact</span>
                   <span class="list-footer">Introduce</span>
                   <span class="list-footer">Policy & Terms</span>
               </div>
           </div></div>
      </div>
</div>